<a href="{{href}}" class="button-bg flex items-center justify-between cursor-pointer transition duration-300
rounded-[0.625rem] min-w-[13.375rem] min-h-[4.6875rem] pr-[3.125rem] pl-[0.625rem] py-[0.625rem]">

  <!-- LEFT ICON BLOCK -->
  <div class="w-[3.5rem] h-[3.4375rem] flex items-center justify-center rounded-[0.1875rem] bg-white">
     <svg class="w-[1.875rem] h-[1.875rem] z-10 text-black">
        <use href="/icons/sprite/sprite.svg#{{iconId}}"></use>
     </svg>
  </div>

  <!-- TEXT BLOCK -->
  <div class="flex flex-col gap-[0.125rem] ml-[0.75rem]">
    
    <div class="text-nowrap text-[0.875rem] leading-[143%] tracking-[0.02em] font-medium text-[#8d684d] font-inter">
      {{subtitle}}
    </div>

    <div class="text-nowrap text-[1rem] leading-[125%] tracking-[0.05em] font-bold text-[#0F172A]">
      {{title}}
    </div>

  </div>

</a>